@page

<div class="content-block">
    <div class="proj ">
        <div class="proj_head">
            <h2>Региональный проект - Содействие занятости женщин</h2>
            <span class="proj_short">Содействие занятости женщин - создание условий дошкольного образования для детей в возрасте до трех лет»</span>
        </div>
        
        <div class="feature_list">
            <div class="feature_item">
                <div class="key">Срок начала и окончания проекта</div>
                <div class="val">01.01.2019-31.12.2024</div>
            </div>
            <div class="feature_item">
                <div class="key">Куратор регионального проекта</div>
                <div class="val">С.А. Енилина, заместитель Председателя Кабинета Министров Чувашской Республики – министр финансов Чувашской Республики</div>
            </div>
            <div class="feature_item">
                <div class="key">Руководитель регионального проекта</div>
                <div class="val">С.П. Димитриев, министр труда и социальной защиты Чувашской Республики</div>
            </div>
            <div class="feature_item">
                <div class="key">Администратор регионального проекта</div>
                <div class="val">В.М. Ковалёв, заместитель министра труда и социальной защиты Чувашской Республики</div>
            </div>
            <div class="feature_item">
                <div class="key">Администратор регионального проекта</div>
                <div class="val">Н.В. Дмитриева, заместитель министра образования и молодежной политики Чувашской Республики</div>
            </div>     


        </div>

        <div class="section">
            <h3>Связь с государственными программами Чувашской Республики</h3>
            <div class="section_desc">
                <p>Государственная программа Чувашской Республики «Содействие занятости населения», утвержденная постановлением Кабинета Министров Чувашской Республики от 3 декабря 2018 г. № 489, основное мероприятие 3 «Реализация отдельных мероприятий регионально-го проекта «Содействие занятости женщин – создание условий дошкольного образования для детей в возрасте до трех лет» подпрограммы «Активная политика»</p>
                <p>Государственная программа Чувашской Республики «Развитие образования», утвержденная постановлением Кабинета Министров Чувашской Республики от 21 декабря 2018 г. № 531, основное мероприятие 16 «Реализация мероприятий регионального проекта «Содействие занятости женщин – создание условий дошкольного образования для детей в возрасте до трех лет» подпрограммы «Государственная поддержка развития образования»</p>
                <p><b>Цель</b> - Обеспечить возможность женщинам, воспитывающим детей дошкольного возраста, совмещать трудовую деятельность с семейными обя-занностями, в том числе за счет повышения доступности дошкольного образования детей в возрасте до трех лет, а также стимулирования создания дополнительных мест в группах кратковременного пребывания детей дошкольного возраста</p>
            </div>
        </div>
        <div class="section">
            <h3>Уровень занятости женщин, имеющих детей дошколь-ного возраста, проценты</h3>
            <div class="feature_item">
                <div class="key" style="text-align:center;">Базовое значение</div>
                <div class="val">
                    <div class="graph_item">
                        <div class="graph_doughnut" id="circles-1" data-proc="52.3" data-color="#4bc0c0"></div>
                        <div class="graph_desc">на 2015-2017</div>
                    </div>
                </div>


            </div>
            <br />
            <div class="feature_item">
                <div class="key"  style="text-align:center;">По прогнозируемым периодам</div>
                <div class="val">
                    <div class="row">
                        <div class="col-2">
                            <div class="graph_item">
                                <div class="graph_doughnut" id="circles-9" data-proc="55.8" data-color="#ff5722"></div>
                                <div class="graph_desc">2019</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="graph_item">
                                <div class="graph_doughnut" id="circles-0" data-proc="68.2" data-color="#ff5722"></div>
                                <div class="graph_desc">2020</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="graph_item">
                                <div class="graph_doughnut" id="circles-21" data-proc="71.6" data-color="#ff5722"></div>
                                <div class="graph_desc">2021</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="graph_item">
                                <div class="graph_doughnut" id="circles-22" data-proc="73.0" data-color="#ff5722"></div>
                                <div class="graph_desc">2022</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="graph_item">
                                <div class="graph_doughnut" id="circles-23" data-proc="76.4" data-color="#ff5722"></div>
                                <div class="graph_desc">2023</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="graph_item">
                                <div class="graph_doughnut" id="circles-24" data-proc="76.8" data-color="#ff5722"></div>
                                <div class="graph_desc">2024</div>
                            </div>
                        </div>

                        <div class="col-2"></div>
                        <div class="col-2"></div>
                        <div class="col-2"></div>
                        <div class="col-2"></div>
                        <div class="col-2"></div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
<script>
  
</script>