@page

<div class="content-block">
    <div class="proj ">
        <div class="proj_head">
            <h2>Старшее поколение</h2>
            <span class="proj_short">Программа системной поддержки и повышения качества жизни граждан старшего поколения </span>

        </div>
        <div class="section">
            <p>Доля людей, достигших пенсионного возраста в структуре населения страны увеличивается. Постепенно растет продолжительность жизни. Остается ряд задач, которые требуют внимания: повышение уровня жизни пожилых людей; доступности и качества социальных и медицинских услуг; ликвидация очередности в учреждения социального обслуживания и внедрение стационарозамещающих технологий; создание условий для посильной трудовой занятости людей старшего поколения и расширение доступа к образовательным программам.</p>
            <p>Проект призван содействовать обеспечению достойного качества жизни и активному вовлечению граждан старшего поколения в жизнь общества.</p>
        </div>
        <div class="section">
            <div class="row">
                <div class="col-4">
                    <div class="year_item">
                        было: <span>61,8 лет</span> 
                    </div>                    
                </div>
                <div class="col-4">
                    <div class="year_item">
                        сегодня: <span>65 лет</span>
                    </div>                 
                </div>
                <div class="col-4">
                    <div class="year_item">
                        цель: <span>67 лет</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    @Html.Partial("partial/news")