@page
<div class="content-block">
    <div class="proj ">
        <div class="proj_head">
            <h2>Национальные проекты Чувашской Республки</h2>

        </div>

        <div class="category_list">

            <div class="category_item">
                <div class="category_img">
                    <img src="~/images/index/demography1.jpg" alt="" />
                </div>
                <div class="category_info">
                    <div class="category_name">Демография</div>
                    <div class="category_proj">
                        <div class="category_proj_item"><a href="/DemographyOlds">Содействие занятости женщин</a></div>
                        <div class="category_proj_item"><a href="/DemographyOlds">Спорт норма жизни</a></div>
                        <div class="category_proj_item"><a href="/DemographyOlds">Старшее поколение</a></div>
                        <div class="category_proj_item"><a href="/DemographyOlds">Укрепление общественного здоровья</a></div>
                        <div class="category_proj_item"><a href="/DemographyOlds">Финансовая поддержка семей при рождении детей</a></div>


                    </div>
                </div>
            </div>
            <div class="category_item">
                <div class="category_img">
                    <img src="~/images/index/med.jpg" alt="" />
                </div>
                <div class="category_info">
                    <div class="category_name">Здравохранение</div>
                    <div class="category_proj">
                        <div class="category_proj_item"><a href="/DemographyOlds">Борьба с онкологическими заболеваниями</a></div>
                        <div class="category_proj_item"><a href="/DemographyOlds">Борьба с сердечно-сосудистыми заболеваниями</a></div>
                        <div class="category_proj_item"><a href="/DemographyOlds">Развитие экспорта медицинских услуг</a></div>
                        <div class="category_proj_item"><a href="/DemographyOlds">Формирование системы мотивации граждан к здоровому образу жизни</a></div>
                        <div class="category_proj_item"><a href="/DemographyOlds">Развитие экспорта медицинских услуг</a></div>
                        <div class="category_proj_item"><a href="/DemographyOlds">Развитие экспорта медицинских услуг</a></div>
                    </div>
                </div>
            </div>
            <div class="category_item">
                <div class="category_img">
                    <img src="~/images/index/edu.jpg" alt="" />
                </div>
                <div class="category_info">
                    <div class="category_name">Образование</div>
                    <div class="category_proj">
                        <div class="category_proj_item"><a href="/DemographyOlds">Молодые профессионалы</a></div>
                        <div class="category_proj_item"><a href="/DemographyOlds">Новые возможности для каждого</a></div>
                        <div class="category_proj_item"><a href="/DemographyOlds">Поддержка семей имеющих детей</a></div>
                        <div class="category_proj_item"><a href="/DemographyOlds">Современная школа</a></div>
                        <div class="category_proj_item"><a href="/DemographyOlds">Социальная активность</a></div>
                        <div class="category_proj_item"><a href="/DemographyOlds">Учитель будущего</a></div>

                    </div>
                </div>
            </div>


        </div>

    </div>

</div>