@page
@using NationalProject.Models

<div id="map" style="width: 100%; height: 500px"></div>


<div class="menuList">
    @(Html.DevExtreme().List()
        .ID("list")
        .Grouped(true)
        .SearchEnabled(false)
        .SelectionMode(ListSelectionMode.Single)
         .DataSource(d => d.Mvc().Controller("ActionsOverview").Key("ID").LoadAction("Get"))
          .DataSourceOptions(o => o.Group("ProjectName"))
         .SelectedItems(new[] { SampleData.ProjectEntitys.First() })
         .ItemTemplate(@<text>
                    <div>
                        <div class="projectentity">
                            <div class="name"><%- Program %></div>
                        </div>
                    </div>
            </text>)
           .OnSelectionChanged("selectionChanged")
    )
</div>
<div class="listItemContent">
    <div class="header">
        <div class="name-container">
            <div class="name"></div>
        </div>
    </div>
    @(Html.DevExtreme().TileView()
        .ID("tile")
        .NoDataText("")
        .Height(224)
        .BaseItemHeight(100)
        .BaseItemWidth(137)
        .ItemMargin(12)
        .ItemTemplate(@<text>
                    <div class="tile-image" style="background-image: url(<%- '../../images/' + FileName %>);"></div>
        </text>)
    )

    <div class="description"></div>
</div>

<script>
    ymaps.ready(init);
    function init() {
        var yMap = new ymaps.Map("map",
            {
                // Координаты центра карты.
                center: [55.76, 37.64],
                zoom: 12,
                controls: [
                    'zoomControl', // Ползунок масштаба
                    'fullscreenControl', // Полноэкранный режим
                ]
            });

        var myPlacemark = new ymaps.Placemark([55.76, 37.64], {
            // Хинт показывается при наведении мышкой на иконку метки.
            hintContent: 'Содержимое всплывающей подсказки',
            // Балун откроется при клике по метке.
            balloonContent: 'Содержимое балуна'
        });
 
        // После того как метка была создана, добавляем её на карту.
        yMap.geoObjects.add(myPlacemark);
    }

    function selectionChanged(e) {
        var projectentity = e.addedItems[0];
        var tile = $("#tile").dxTileView("instance");
        tile.option("dataSource", projectentity.Images);
        $(".header .name").text(projectentity.ProjectName);
        $(".listItemContent .description").text(projectentity.LitleDescription);
    }
</script>
