@page
@using NationalProject.Models

<h2 class="content-block">Home</h2>

<div id="accordion">
    @(Html.DevExtreme().Accordion()
            .ID("accordion-container")
            .DataSource(d => d.Mvc().Controller("Accordion").LoadAction("GetData").Key("ID"))
            .AnimationDuration(400)
            .Collapsible(true)
            .Multiple(false)
            //.OnSelectionChanged("accordion_selectionChanged")
            .ItemTitleTemplate(@<text><h1><%- Name %></h1></text>)
.ItemTemplate(@<text>
                <div class="accodion-item">
                    <div>
                        <p>
                            <b><%- Name %></b>
                            (<span><%- LitleDescription %></span>)
                        </p>
                    </div>
                </div>
</text>)
    )

</div>

    <script>

        function getAccordionInstance() {
            return $("#accordion-container").dxAccordion("instance");
        }

    </script>
