

<link rel="stylesheet" href="~/css/chart.css" />

<div class="layout-body content-block" >
    @(Html.DevExtreme().Chart()
        .ID("chart")
        .Animation(true)
        .Palette(VizPalette.HarmonyLight)
        //.Title("Продолжительность жизни")
        .ArgumentAxis(a => a
            .Label(l => l
                .OverlappingBehavior(OverlappingBehavior.Stagger)
            )
        )
        .Export(e => e.Enabled(true))
        .Tooltip(t => t
            .Enabled(false)
    )
    .OnPointClick(@<text>
        function(e) {
            var point = e.target;
            var popup = $("#popup").dxPopup(
                                   {
                                                    width: 300,
                                                    height: 350,
                                                    contentTemplate: function() {
                                                        return $("<div />").append(                                                                                     
                                                             $("<div><b>Финансирование:</b><br>Cейчас: " +
                                                                        (point.data.budjetFact != null ?point.data.budjetFact:'') + "</div>" +
                                                                        
                                                                        "<div>Планируется: " +
                                                                        (point.data.budjetPlan != null ?point.data.budjetPlan:'') + "</div>" +

                                                                        "<div><b>Средний возраст</b><br>Cейчас: " +
                                                                        (point.data.factAge != null ?point.data.factAge:'') +

                                                                        "</div><div>Планируется: " +
                                                                        (point.data.planAge != null ?point.data.planAge:'') + "</div>" +

                                                                        "<div><br><b>События:</b> " + (point.data.events != null ? point.data.events : '') + "</div>")
                                                        ).dxScrollView({
                                                            width: '100%',
                                                            height: '100%'
                                                        });

                                                    },
                                                    showTitle: true,
                                                    title: point.argument,
                                                    visible: false,
                                                    dragEnabled: false,
                                                    closeOnOutsideClick: true
                                            }         
            ).dxPopup("instance");

            popup.show();
        }
    </text>)
    .ValueAxis(a =>
    {
    a.Add()
        .Name("budjet")
        .Position(Position.Right)
        .TickInterval(10)
        .Label(l => l
            .CustomizeText(
                @<text>
                    function(info) {
                        return info.valueText + " млн";
                    }
                </text>)
            );
    a.Add()
        .Name("age")
        .Position(Position.Left)
        .ShowZero(false);            
    })
    .CommonSeriesSettings(s => s
        .ArgumentField("year")
    )
    .Series(s =>
                            {
        s.Add()
            .Type(SeriesType.Bar)
            .ValueField("budjetFact")
            .Axis("budjet")
            .Name("Финансирование (факт), млн/р")
            .Color("#6f42c1");
        s.Add()
            .Type(SeriesType.Bar)
            .ValueField("budjetPlan")
            .Axis("budjet")
            .Name("Финансирование (план), млн/р")
            .Color("#20c997");
        s.Add()
            .Type(SeriesType.Spline)
            .ValueField("factAge")
            .Axis("age")
            .Name("Фактический показатель, возраст")
            .Color("#c9203f");
        s.Add()
            .Type(SeriesType.Spline)
            .ValueField("planAge")
            .Axis("age")
            .Name("Планируемый показатель, возраст")
            .Color("#fac29a");
    })
    .Legend(l => l
        .VerticalAlignment(VerticalEdge.Top)
        .HorizontalAlignment(HorizontalAlignment.Center)
    )
    .DataSource(d => d.Mvc().Controller("Chart").LoadAction("GetComplaintsData"))
    )
</div>
<div id="popup"></div>