<div class="content-block">
    <div class="news-block ">
        <div class="news_head">
            <h2>Новоти</h2>            
        </div>
        <div class="news_list">
            <div class="news_item">
                <div class="news_date">13/04/2019</div>
                <div class="news_info">
                    <a href="http://minec.cap.ru/news/2019/04/13/problemi-razvitiya-malogo-i-srednego-biznesa-obsuz" target="_blank">Проблемы развития малого и среднего бизнеса обсуждены на круглом столе в рамках Форума «Реализация национальных проектов на территории Чувашской Республики»</a>
                </div>
            </div>
            <div class="news_item">
                <div class="news_date">11/04/2019</div>
                <div class="news_info">
                    <a href="http://minec.cap.ru/news/2019/04/11/priglashaem-organizacii-chuvashskoj-respubliki-pri" target="_blank">Приглашаем организации Чувашской Республики принять участие в Форуме InnoMed «Эффективные модели внедрения инноваций в медицинскую промышленность и здравоохранение»</a>
                </div>
            </div>
            <div class="news_item">
                <div class="news_date">09/04/2019</div>
                <div class="news_info">
                    <a href="http://minec.cap.ru/news/2019/04/09/12-13-aprelya-v-cheboksarah-projdet-forum-realizac" target="_blank"    >12-13 апреля в Чебоксарах пройдет Форум «Реализация национальных проектов на территории Чувашской Республики»</a>
                </div>
            </div>
        </div>

    </div>

</div>